* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    padding-bottom: 10px;
}

.header__link {
    display: flex;
    float: right;
}

.red__link {
    color: rgb(228, 132, 23);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-right: 30px;
}

.black__link {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-right: 30px;
}

.header__logo {
    width: 137px;
    height: 40px;
    float: left;
}

.header {
    padding-top: 19px;
    padding-bottom: 39px;
}

.top__info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.top__content img {
    width: 545px;
    height: 375px;
}

.top__content {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
}

.subtitle {
    margin-bottom: 10px;
    font-size: 34px;
    color: gray;
}

.title {
    margin-bottom: 20px;
    font-size: 80px;
}

.top__buttons {
    margin-top: 50px;
}

.start__button {
    margin-right: 30px;
    color: white;
    background: rgb(224, 96, 11);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    border-radius: 100px;
    height: 50px;
    width: 150px;
}

.watch__button {
    margin-right: 30px;
    color: gray;
    background: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    border-radius: 100px;
    height: 50px;
    width: 150px;
}

.top__logos {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.top__logos img {
    width: 150px;
    height: 60px;
}