* {
    margin: 0;
    padding: 0;
}

.body {
    width: 100vw;
}

.header {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #222222;
    width: 100%;
    height: 75px;
}

.header__logo {
    width: 111px;
    height: 38px;
    margin-left: 14.4%;
    margin-top: 18px;
}

.link {
    margin-right: 30px;
}

.link__menu {
    margin-right: 30px;
    position: relative;
    display: inline-block;
}

.dropmenu {
    background-color: #222222;
    border: none;
}

.dropmenu__content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    max-width: 232px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropmenu__content a {
    width: 232px;
    text-decoration: none;
    display: block;
}

.dropmenu__title {
    margin-top: 32px;
    margin-bottom: 15px;
    padding-left: 33px;
    color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.dropmenu__chapter {
    color: #F16D7F;
    margin-bottom: 12px;
    margin-top: 9px;
    padding-left: 33px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.dropmenu__subsection {
    margin-bottom: 11px;
    padding-left: 53.5px;
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.dropmenu__content a:hover {
    background-color: #FFFFFF;
}

.link__menu:hover .dropmenu__content {
    display: block;
}

.link__menu:hover .dropmenu {
    background-color: black;
}

.header__link {
    display: flex;
    float: right;
    margin-right: 15%;
    margin-top: 26px;
}

.top__header {
    background: #F1E4E6;
    width: 100%;
}

.top__logo {
    width: 50%;
}

.top__brend {
    vertical-align: top;
    margin-top: 18.11%;
    margin-right: 20.7%;
    width: 25.3%;
}

.top__middle {
    width: 71.25%;
    margin-left: 14.4%;
    margin-right: 14.4%;
    margin-top: 65px;
    margin-bottom: 96px;
}

.img__sale {
    width: 31.6%;
}

.img__accesories {
    width: 100%;
}

.middle__sale {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.products {
    width: 71.25%;
    margin-left: 14.4%;
    margin-right: 14.4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 95px;
}

.title {
    font-size: 30px;
    color: #222222;
    margin-bottom: 6px;
}

.subtitle {
    font-size: 14px;
    color: #9F9F9F;
    margin-bottom: 48px;
}

.product__offers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 48px;
}

.product__img {
    width: 100%;
    position: relative;
}

.product__img img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.product__img:hover .overlay {
    display: block;
    background: #3A3838DB;
}

.img__button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__button a {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    display: flex;
    width: 139px;
    height: 44px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    z-index: 1;
}

.img__button a img {
    width: 18.7%;
    margin-right: 4.03px;
}

.product__img:hover .img__button {
    opacity: 1;
}

.product {
    width: 31.6%;
}

.product__title {
    width: 90%;
    font-family: Lato;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 4.5%;
    margin-top: 25px;
    margin-bottom: 16px;
}

.product__subtitle {
    width: 90%;
    font-family: Lato;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 4.5%;
    margin-bottom: 16px;
}

.product__price {
    width: 90%;
    font-family: Lato;
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 4.5%;
    margin-bottom: 30px;
}

.product__button {
    display: flex;
    width: 212px;
    height: 48px;
    font-size: 16px;
    color: #FF6A6A;
    border: 1px solid #FF6A6A;
    background: #F8F8F8;
    justify-content: center;
    align-items: center;
}

.bottom {
    width: 100%;
}

.bottom__info {
    width: 100%;
    height: 341px;
    background: #222224;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.info {
    width: 22.5%;
    height: 134px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.info img {
    width: 44.99px;
}

.info__title {
    width: 90%;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FBFBFB;
    margin-bottom: 16.01px;
    margin-top: 25.06px;
}

.info__subtitle {
    width: 90%;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FBFBFB;
}

.subscribe {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.subscribe__photo {
    width: 100%;
    height: 100%;
    background-image: url(img/Layer41.jpg);
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: absolute;
}

.subscribe__info {
    width: 50%;
    min-height: 448px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subscribe__info img {
    width: 96px;
    height: 96px;
    margin-bottom: 30px;
}

.subscribe__infotext {
    width: 45%;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    font-style: italic;
    color: #222224;
}

.subscribe__mail {
    width: 50%;
    height: 31.7%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subscribe__mailtitle {
    width: 44.5%;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #222224;
}

.subscribe__mailtext {
    width: 44.5%;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #222224;
}

.subscribe__button {
    position: relative;
    width: 44.5%;
    height: 49px;
    margin-top: 32px;
}

.mail__input {
    float: left;
    box-sizing: border-box;
    padding-right: 80px;
    width: 100%;
    height: 100%;
    color: #222224;
    background: #dbdbdb;
    font-size: 16px;
    padding-left: 16px;
    border-radius: 16px;
}

.mail__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    color: #FBFBFB;
    background: #F16D7F;
    font-size: 16px;
    border-radius: 0px 16px 16px 0px;
}

.copyright {
    width: 100%;
    height: 79px;
    background: #222224;
    display: flex;
}

.copyright__text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.copyright__title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FBFBFB;
    margin-left: 29.4%;
}

.copyright__links {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.social__icon {
    width: 147.66px;
    height: 32px;
    margin-right: 28.8%;
    display: flex;
    justify-content: space-between;
}

.icon img {
    width: 31.45px;
    height: 32px;
}

@media (max-width: 768px) {
    /*Для планшета*/
    .header {
        height: 74px;
    }
    .header__logo {
        margin-left: 4.2%;
    }
    .link {
        margin-right: 15px;
    }
    .link__menu {
        margin-right: 15px;
    }
    .header__link {
        margin-right: 4.2%;
        margin-top: 19px;
    }
    .dropmenu__content {
        max-width: 160px;
    }
    .dropmenu__content a {
        width: 160px;
    }
    .top__brend {
        margin-right: 4.36%;
        margin-top: 17.97%;
        width: 40.5%;
    }
    .top__middle {
        width: 95.83%;
        margin-left: 2.08%;
        margin-right: 2.08%;
        margin-top: 64.95px;
        margin-bottom: 109.92px;
    }
    .products {
        width: 95.83%;
        margin-left: 2.08%;
        margin-right: 2.08%;
    }
    .title {
        width: 90%;
        margin-bottom: 3.3px;
    }
    .subtitle {
        width: 90%;
        margin-bottom: 72.74px;
    }
    .product__offers {
        margin-bottom: 32.48px;
    }
    .product {
        width: 46.875%;
    }
    .product__title {
        margin-left: 5.14%;
        margin-top: 25.35px;
        margin-bottom: 12.656px;
    }
    .product__subtitle {
        margin-left: 5.14%;
        margin-bottom: 18px;
    }
    .product__price {
        margin-left: 5.14%;
        margin-bottom: 20px;
    }
    .bottom__info {
        height: 610px;
        flex-direction: column;
        justify-content: space-around;
    }
    .info {
        width: 46.875%;
    }
    .subscribe {
        flex-direction: column;
    }
    .subscribe__photo {
        background-image: url(img/Layer41pl.jpg);
    }
    .subscribe__info {
        width: 100%;
        min-height: 346.5px;
    }
    .subscribe__info img {
        margin-top: 64px;
    }
    .subscribe__mail {
        width: 100%;
        height: 17.84%;
        margin-top: 48px;
        margin-bottom: 140px
    }
    .subscribe__mailtitle {
        margin-top: 0px;
        width: 50%;
    }
    .subscribe__mailtext {
        width: 50%;
    }
    .subscribe__button {
        margin-top: 27px;
    }
    .copyright {
        position: relative;
    }
    .copyright__title {
        margin-left: 8.34%;
    }
    .social__icon {
        margin-right: 8.42%;
    }
}

@media (max-width: 375px) {
    /*Для телефона*/
    .header {
        height: 74px;
    }
    .header__logo {
        margin-left: 4.27%;
    }
    .link {
        margin-right: 0px;
        display: none;
    }
    .link__menu img {
        width: 32px;
        height: 23px;
    }
    .header__link {
        margin-right: 6.93%;
        margin-top: 25px;
    }
    .dropmenu__content {
        right: 0;
    }
    .top__header {
        display: flex;
        justify-content: center;
    }
    .top__logo {
        display: none;
    }
    .top__brend {
        margin-top: 39.46%;
        margin-bottom: 39.46%;
        margin-right: 0;
        width: 70.13%;
    }
    .top__middle {
        width: 91.47%;
        margin-left: 4.27%;
        margin-right: 4.27%;
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .img__sale {
        width: 100%;
        margin-bottom: 32px;
    }
    .img__accesories {
        width: 100%;
    }
    .middle__sale {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .products {
        width: 95.73%;
        margin-left: 2.13%;
        margin-right: 2.13%;
    }
    .title {
        margin-bottom: 3.3px;
    }
    .subtitle {
        margin-bottom: 64.7px;
    }
    .product__offers {
        margin-bottom: 40.61px;
    }
    .product {
        width: 100%;
        margin-bottom: 15.62px;
    }
    .product__title {
        margin-left: 5%;
        margin-top: 25.28px;
        margin-bottom: 3.52%;
    }
    .product__subtitle {
        margin-left: 4.57%;
        margin-bottom: 5%;
    }
    .product__price {
        margin-left: 5.11%;
        margin-bottom: 5.56%;
    }
    .info {
        width: 92.752%;
        height: 34.53%;
        margin-right: 0px;
    }
    .info__title {
        margin-bottom: 4.21%;
        margin-top: 6.96%;
    }
    .subscribe {
        overflow: hidden;
    }
    .subscribe__photo {
        width: 162.595%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
    }
    .subscribe__info {
        min-height: 275px;
    }
    .subscribe__info img {
        width: 91.73px;
        height: 91.73px;
        margin-top: 64px;
    }
    .subscribe__infotext {
        width: 90%;
        margin-left: 4.26667%;
        margin-right: 4.26667%;
    }
    .subscribe__mail {
        height: 225px;
    }
    .subscribe__mailtitle {
        width: 100%;
        margin-top: 42px;
    }
    .subscribe__mailtext {
        font-size: 14px;
        width: 100%;
    }
    .subscribe__button {
        width: 90%;
        height: 46.94px;
        margin-top: 22.15px;
    }
    .mail__input {
        font-size: 14px;
    }
    .mail__button {
        font-size: 14px;
    }
    .copyright {
        flex-direction: column-reverse;
        height: 143px;
    }
    .copyright__text {
        width: 100%;
        height: 71.5px;
        justify-content: center;
        align-items: end;
    }
    .copyright__title {
        margin-left: 0px;
        margin-bottom: 9px;
    }
    .copyright__links {
        width: 100%;
        height: 71.5px;
        justify-content: center;
        align-items: end;
    }
    .social__icon {
        margin-right: 0px;
    }
}